{{ define "main" }}
<h1>{{ .Title }}</h1>
<hr>
<br>
{{ with .Site.Data.portfolio }}
    {{ range .}}
    <h2 id = "{{ .title }}">{{ .title }}</h2>
    <br>
    <ul id  = 'commercial-list' class="list-inline text-center">
        {{ range .items }}
        <li class="list-inline-item  align-self-center">
            <div>
                <a href = "{{ . | absURL }}" data-toggle="lightbox" data-gallery = "commercial">
                    <img  width='300px' class = "pop" src = "{{ . | absURL }}" >
                </a>
            </div>
        
        </li>
        {{ end }}
    </ul>
    <br>
    {{ end }}
{{ end }}
{{ end }}
