<!DOCTYPE html>
<html lang="{{ $.Site.Language }}">
  <head>
    {{ if $.Site.GoogleAnalytics }}
      {{ partial "analytics.html" $.Site.GoogleAnalytics }}
    {{ end }}
    {{ block "title" . }}
      <title>
        {{ if .IsHome }}{{ $.Site.Title }}{{ with $.Site.Params.Subtitle }} —
        {{ . }}{{ end }}{{ else }}{{ .Title }} ::
        {{ $.Site.Title }}{{ with $.Site.Params.Subtitle }} — {{ . }}{{ end }}{{ end }}
      </title>
    {{ end }}
  </head>
    {{ partial "head.html" . }}
  <body class="{{ if ne $.Site.Params.defaultTheme "light" -}} dark-theme {{- end -}}">
    <div class="">
      {{ partial "header.html" . }}

      <div class="content container-fluid" >
        {{ block "main" . }} {{ end }}
      </div>

      {{ block "footer" . }}
        {{ partial "footer.html" . }}
      {{ end }}
    </div>
  </body>
</html>
