{{ define "main" }}

{{ with .Site.Data.home }}
  <ul class="list-inline text-center">
    {{ range . }}
    <li class="list-inline-item">
      <div class = "img__wrap">
      {{ if .cover }}
        {{ if .UseRelativeCover }}
      
        <a href = "{{ .link | relURL }}" alt="{{ .CoverAlt | plainify | default .Title }}" >
          <img width = '700px' src="{{ (printf "%s%s" .Permalink .cover ) }}" alt="{{ .CoverAlt | plainify | default .title }}" class="" />
          <span class="img__description_layer">
            <p class="img__description">{{ .title}}</p>
          </span>
        </a>
        {{ else }}
        <a href = "{{ .link | relURL }}" alt="{{ .CoverAlt | plainify | default .Title }}" >
          <img  width = '700px'  src="{{ .cover | absURL }}" alt="{{ .CoverAlt | plainify | default .title }}" class="" />
          <span class="img__description_layer">
            <p class="img__description">{{ .title}}</p>
          </span>
        </a>
        {{ end }}

        {{ if .CoverCaption }}
          <figcaption class="center">{{ .CoverCaption | markdownify }}</figcaption>
        {{ end }}
        
      {{end}}
    </div>
    </li>
    {{end}}
    

    </ul>
  
{{ end }}
{{ end }}